<div class='container-fluid'>
    <form class='forms' method='POST' action=''>
        <div class=''>
            <label for='username'>Username:</label>
            <input type='text' name='username'>
        </div>
         <div class=''>
             <label for='password'>Password</label>
             <input type='text' name='password'>
         </div>
         <div>
             <button class='btn-md' type='submit'>Log In</button>
         </div>
    </form>
</div>