<%-include('../partials/header.ejs')-%>
<div class='jumbotron my-3 py-3'>
<div class='container my-3 py-3'>
<div class='container my-3 py-3 d-flex flex-column justify-content-center'>
    <form class='form-inline d-flex justify-content-center'>
        <div class='form-group my-3'>
            <label for='link' class=''>Enter Link:</label>
    <br/>
    <br/>
    <input type='text' name='verify'>
    <div class='form-group my-3 '>
        <button type='submit' class='btn btn-dark btn-md text-light'>Verify</button>
    </div>
    
        </div>
    </form>
</div>
</div>