<%- include('../partials/header')-%>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class='container'>
        <a class="navbar-brand" href="#">Navbar</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ">
    <li class="nav-item active ">
        <a class="nav-link" href="#">Home </a>
    </li>
    </ul>
</div>
    </div>
</nav>

<div class='container-fluid my-3 py-3'>
    <div class='container my-2'>
        <div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="images/group-4.jpg" alt="..." height='300' class='image-rounded'>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
        <!-- Button trigger modal -->  
        <!--<div class='header-icon'>
            <p type="button" class="" data-toggle="modal" data-target="#exampleModal" >
<span class="iconify" data-icon="fa-solid:comment-dots" ></span></p>
        </div>-->


<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <label for='comment'>Comment:</label>
            <textarea rows='3' cols='55' name='comment'></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
    </div>

</div>

<div class='jumbotron my-3 py-3 '>
    <div class='container'>
        <div class='row'>
            <div class='col-md-4'>
                <div class='title text-center'>
                    <p class=''>Title Text</p>
                    <img class='my-2' src='images/group-4.jpg' height='200'>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed autem dolore excepturi necessitatibus non ex sint quis! Aspernatur tempore harum consectetur vitae earum laborum nisi fuga, nihil sed similique ipsam soluta 
                        odio inventore cum quos magnam repellat optio facere, itaque officia voluptatem. Autem laboriosam odit in ea suscipit id nulla.</p>
                </div>

            </div>
            <div class='col-md-4'>
                <div class='title text-center'>
                    <p class=''>Title Text</p>
                    <img class='my-2' src='images/group-4.jpg' height='200'>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed autem dolore excepturi necessitatibus non ex sint quis! Aspernatur tempore harum consectetur vitae earum laborum nisi fuga, nihil sed similique ipsam soluta 
                        odio inventore cum quos magnam repellat optio facere, itaque officia voluptatem. Autem laboriosam odit in ea suscipit id nulla.</p>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='title text-center'>
                    <p class=''>Title Text</p>
                    <img class='my-2' src='images/group-4.jpg' height='200'>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed autem dolore excepturi necessitatibus non ex sint quis! Aspernatur tempore harum consectetur vitae earum laborum nisi fuga, nihil sed similique ipsam soluta 
                        odio inventore cum quos magnam repellat optio facere, itaque officia voluptatem. Autem laboriosam odit in ea suscipit id nulla.</p>
                </div>
            </div>

            
        </div>
    </div>
</div>-->
<div>
    <div class='row'>
        <div class='col-md-1 '></div>
        <div class='col-md-11 '>
            <div class="card mb-3" >
<div class="row" style='min-width:500px'>
    <div class="col">
    <img src="images/group-4.jpg" alt="..." height='200' class='image-rounded'>
    <div class="col">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <p type="button" class="" data-toggle="modal" data-target="#exampleModal" >
<span class="iconify" data-icon="fa-solid:comment-dots" ></span></p>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <label for='comment'>Comment:</label>
            <textarea rows='3' cols='55' name='comment'></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Done</button>
      </div>
    </div>
  </div>
</div>

        </div>
            </div>

        
</div>
    </div>
</div>
<%-include('../partials/foot')-%>

